@media only screen and (max-width: 931px){
    .content-upper .card-body h2{
        text-align: center!important;
    }
    .img-back{
        display: none;
    }
    .para{
        text-align: center!important;
    }
    .content-between{
        display: none;
    }
    .content-end{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .card-img-top{
        width: 15rem!important;
    }
}