* {
  margin: 0;
  padding: 0;
}
.contaner {
  background-color: #ebebeb;
}
.videos {
  display: flex;
}

@media only screen and (max-width: 931px) {
  .flex{
    flex-direction: column;
    width: 100%!important;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    margin-bottom: 10px!important;
  }
  .card{
    margin: 0!important;
    width: 15rem!important;
    margin-bottom: 10px!important;
  }
  .card img{
    display: none;
  }
}
